* {
  font-family: "SoDo Sans SemiBold";
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fafafa;
}

/* NAVBAR STYLES */

.page-heading {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(196, 196, 196, 0.75);
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fafafa;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1250px;
  padding: 20px;
  height: 100%;
  z-index: 9999;
}

.nav-locate-shop {
  margin-left: auto;
  margin-right: 30px;
}

.nav-locate-shop a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}

.nav-locate-shop img {
  height: 22px;
  width: 15px;
}

.nav-logo img {
  width: 50px;
}

.nav-options {
  text-transform: uppercase;
}

.nav-options ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-options ul li {
  margin: 0px 18px;
}

.nav-options ul li a {
  text-decoration: none;
  color: black;
}

.nav-options ul li a:hover {
  color: #00754a;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
  text-underline-offset: 35px;
}

/* MAIN CONTENT STYLES */

main {
  max-width: 1400px;
  margin: 0 auto;
}

/* MAIN ADVERTISEMENT STYLES */

.main-advertisement {
  background-color: #1e3932;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main-advertisement-img {
  max-width: 50%;
}

.main-advertisement-img img {
  max-width: 100%;
  height: auto;
}

.main-advertisement-banner {
  display: flex;
  align-items: center;
}

.main-advertisement-banner p {
  font-size: 3.2rem;
  color: #fafafa;
  text-align: center;
  padding: 0 80px;
}

/* MAIN JOB STYLES */

.main-job-join {
  background-color: #d4e9e2;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
}

.main-job-banner {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00754a;
  text-align: center;
}

.main-job-banner h2 {
  font-size: 3.2rem;
  margin: 10px 0px;
}

.main-job-banner p {
  font-size: 1.2rem;
  margin: 30px 0px;
}

.main-job-banner a {
  text-decoration: none;
  color: #00754a;
  padding: 5px 15px;
  border: 1px solid #00754a;
  border-radius: 20px;
}

.main-job-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-job-img img {
  max-width: 100%;
}

/* FOOTER SYLES */

.footer {
  box-shadow: 0px -2px 5px 0px rgba(196, 196, 196, 0.75);
  max-width: 100%;
  margin-top: 30px;
}

.upper-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px;
}

.footer-information {
  display: flex;
  flex-direction: row;
}

.conj-list {
  padding: 0px 20px;
}

.conj-list h3 {
  margin-bottom: 40px;
}

.f-list {
  list-style: none;
  color: rgb(161, 161, 161);
  margin: 0;
  padding: 0;
}

.f-list li {
  margin-bottom: 25px;
}

.footer-fiscaldata img {
  width: 65px;
  margin-right: 20px;
}

.footer hr {
  max-width: 1200px;
  opacity: 0.2;
}

.lower-footer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.footer-social-media {
  padding: 15px;
  margin-bottom: 30px;
}

.footer-social-media i {
  font-size: 2.3rem;
  padding: 0px 12px;
}

.footer-secondary-information span {
  color: rgb(194, 194, 194);
  padding: 0px 15px;
}

.footer-secondary-information span:not(:last-child)::after {
  position: relative;
  content: "|";
  left: 15px;
}

.footer-copy {
  color: rgb(194, 194, 194);
  font-size: .9rem;
  text-align: center;
  margin: 20px 0px;
}

.footer-copy p {
  padding: 1px;
  margin: 0;
}

.somehash {
  font-size: .6rem;
}

.nav-menu-button {
  display: none;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 10px;
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 10px;
}

.nav-locate-shop.locate-responsive-active {
  position: absolute;
  display: block;
  top: 300px;
  left: 20vw;
  padding-left: 16px;
}

.nav-options.responsive-active {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  background-color: #fafafa;
  top: 70px;
  right: 0;
}

.nav-options.responsive-active ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav-options.responsive-active ul li {
  padding: 20px 0;
}

@media (max-width: 1400px) {
  .main-advertisement {
    height: 33.6vw;
  }
  .main-job-join {
    height: 42vw;
  }
  .main-advertisement-banner p {
    font-size: clamp(2vw, 3.2rem, 4vw);
  }
  .main-job-banner h2 {
    font-size: clamp(2vw, 3.2rem, 4vw);
  }
  .main-job-banner p {
    font-size: clamp(1vw, 1.2rem, 2vw);
  }
}

@media (max-width: 1292px) {
  .upper-footer {
    max-width: 1000px;
  }
}

@media (max-width: 1025px) {
  hr {
    width: 95vw;
  }
  .upper-footer {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
  }
  .f-list {
    display: none;
  }
  .footer-information {
    display: flex;
    flex-direction: column;
  }
  .conj-list {
    padding: 0;
  }
  .conj-list h3 {
    margin: 25px 0px;
  }
  .conj-list h3::after {
    content: "ᐯ";
    position: absolute;
    right: 25px;
  }
  .f-list.active-list {
    display: flex;
    flex-direction: column;
  }
}

/* MOBILE RESPONSIVE STYLES */

@media (max-width: 767px) {
  .nav-options, .nav-locate-shop {
    display: none;
  }
  .nav-menu-button {
    display: block;
  }
  .page-heading {
    height: 70px;
  }
  .nav-logo img {
    max-width: 40px;
  }
  .main-advertisement {
    width: 100%;
    height: 95vw;
    flex-direction: column;
  }
  .main-advertisement-img {
    max-width: 100%;
  }
  .main-advertisement-img img {
    max-width: 100%;
  }
  .main-advertisement-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .main-advertisement-banner p {
    margin: 0;
    font-size: 2rem;
  }
  .main-job-join {
    flex-direction: column-reverse;
    width: 100%;
    height: 115vw;
    margin-bottom: 100px;
  }
  .main-job-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d4e9e2;
    padding-bottom: 50px;
  }
  .main-job-banner h2 {
    font-size: 2rem;
  }
  .main-job-banner p {
    font-size: 1rem;
  }
  .main-job-img img {
    max-width: 80%;
    padding-top: 100px;
  }
}

@media (max-width: 715px) {
  .lower-footer {
    align-items: flex-start;
    padding: 0 20px;
  }

  .footer-secondary-information {
    display: flex;
    flex-direction: column;
  }
  .footer-secondary-information span {
    color: black;
    padding: 20px 0;
  }
  .footer-social-media {
    padding: 0;
    margin-top: 20px;
  }
  .footer-social-media i:first-child {
    padding-left: 0px;
  }
  .footer-copy {
    text-align: center;
   width: 100%;
  }
  .footer-secondary-information span:not(:last-child)::after {
    position: relative;
    content: "";
    left: 15px;
  }
}

@media (max-width: 453px) {
  .main-advertisement-banner p {
    margin: 0;
    font-size: 1.4rem;
  }
  .main-job-banner h2 {
    font-size: 1.4rem;
  }
  .main-job-banner p {
    font-size:0.8rem;
  }
}